.button {
    -fx-text-fill: #f7b61a;
    -fx-background-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-border-color: #39afcb;
}

.button:hover {
	-fx-cursor:hand
}

#gridPane {
	-fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-background-color: #111111;
    -fx-border-color: #39afcb;
}

#anchorPane, .pane {
	-fx-background-color: #000000;
}

.label {
	-fx-text-fill: #f7b61a;
}