.button {
    -fx-text-fill: #f7b61a;
    -fx-background-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-border-color: #39afcb;
}

.button:hover {
	-fx-cursor:hand
}

.border-pane {
	-fx-background-color: #111111;
}

.corner {
	-fx-background-color: #242424;
}

.track, .track-background {
	-fx-background-color: #242424;
}

#leftAnchorPane, #tableViewContainer {
	-fx-padding: 5;
}

#vBoxMenuBar {
	-fx-padding: 5;
	-fx-background-color: #000000;
}


#rightTop, #sendPane, #progressPane, #balancePane, #rightVBox {
	-fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-background-color: #111111;
    -fx-border-color: #39afcb;
}



.thumb, .increment-button, .decrement-button {
	-fx-background-color: rgba(247, 182, 27, 0.8);
	-fx-border-radius: 10;
    -fx-background-radius: 10;
}

.increment-arrow, .decrement-arrow {
	-fx-background-color: #39afcb;
}

.split-pane-divider {
	-fx-pref-height: 1;
	-fx-min-height: 1;
	-fx-max-height: 1;
	-fx-background-color: #000000;
}

#donateLabel, #tB, #zB, #totalB, #progressLabel, #myAddressesLabel, #destinationAddressLabel, #amountToSendLabel, #codeLabel, #percentageLabel {
	-fx-text-fill: #f7b61a;
}

#tBalanceLabel, #zBalanceLabel, #totalBalanceLabel {
	-fx-text-fill: #39afcb;
}

.split-pane, .column {
	-fx-background-color: #000000;
}

#addressList {
	-fx-border-radius: 10;
    -fx-background-radius: 10;
	-fx-background-color: #000000;
}

.table-view .column-header{
	-fx-text-fill: #f7b61a;
	-fx-background-color: #111111;
}

.table-view .table-cell{
	-fx-text-fill: #39afcb;
}

.table-row-cell:even, .list-cell:even{
	-fx-background-color: #000000;
	-fx-text-fill: #39afcb;
	-fx-border-color: transparent;
}

.table-row-cell:odd, .list-cell:odd {
	-fx-background-color: #111111;
	-fx-text-fill: #39afcb;
	-fx-border-color: transparent;
}

.table-row-cell:selected {
	-fx-background-color: rgba(57, 175, 203, 0.3);
} 

.list-cell:selected {
    -fx-background-color: rgba(57, 175, 203, 0.3);
}

#amountHbox, #sendPane, #leftVBox {
	-fx-spacing: 8;
}

#destinationAddress, #amountToSend {
	-fx-background-color: #242424;
	-fx-text-fill: #39afcb;
}

.table-view {
	-fx-background-color: #111111;
	-fx-table-cell-border-color: transparent;
	-fx-border-radius: 10;
    -fx-background-radius: 10;
}

.table-view .column-header-background .label {
    -fx-background-color: #111111;
    -fx-text-fill: #f7b61a;
}

.table-view .column-header, .filler {
    -fx-background-color: #111111;
}



.menu-bar {
	-fx-background-color: #111111;
	-fx-border-color: #39afcb;
	-fx-border-radius: 10;
    -fx-background-radius: 10;
}

.menu-bar .label {
	-fx-text-fill: #f7b61a;	
}

.menu {
	-fx-text-fill: #f7b61a;	
	-fx-background-color: #111111;
}

.context-menu {
	-fx-background-color: #111111;
	-fx-border-color: #39afcb;
}

.menu-item, .radio-menu-item {
	-fx-background-color: #111111;
}

.radio-menu-item
{
    -fx-mark-color: #39afcb;
}

.separator *.line { 
	-fx-border-color:#39afcb;
}
